body {
  background-color: #333366 !important;
  color: #ffffff !important;
  text-align: center !important;
}
.card-player{
  width: 235px;
  max-width: 235px;
  border: none !important;
  float: left;
  margin: 0.5rem;
}
.card-player button{
  text-align: left;
  background: none;
  border: none;
  color: #444444;
  border-bottom: 1px solid #444444;
  font-weight: 600;
}
.card-player button:hover{
  background-color: #444444;
}
.card-player button:last-of-type{
  border-bottom: none;
}
.card-player .card-body {
  padding: 0.5rem !important;
}
.card-player .btn-group{
  display: inline-block;
  width: 100%;
}
.card-player .btn-group .btn{
  display: block;
  width: 100%;
  border-radius: 0px !important;
}
.card-player .card-button-value{
  float: right;
}
.card-player .card-header{
  padding: 0rem !important;
}
.card-player .card-text {
  margin-bottom: 0rem;
}
/*.card-player .card-text::before {
  width: 28px !important;
  max-width: 28px !important;
  height: 20px !important;
  padding-right: 0.5rem;
  display: inline-block;
  object-fit: cover;
  content:'';
  background-size: cover;
}
.card-player .card-text.bath::before {
  background:url('http://localhost:3000/img/union-club-icons/bath-logo.png') no-repeat 0 0;
}
.card-player .card-text.edinburgh::before {
  content: url('http://localhost:3000/img/union-club-icons/edinburgh-logo.png') / "Edinburgh Rugby Logo";
}
.card-player .card-text.glasgow::before {
  content: url('http://localhost:3000/img/union-club-icons/glasgow-logo.png') / "Glasgow Rugby Logo";
}
.card-player .card-text.scotland::before {
  content: url('http://localhost:3000/img/union-club-icons/scotland-logo.png') / "Scottish Rugby Union Logo";
}*/